<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Scouts BSA Troop 65 Astoria (Queens) NY">
        <title>Scouts BSA Troop 65 Astoria (Queens) NY</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous">
        </script>
    </head>

    <body>
        <div class="container-responsive">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="card-title">Scouts BSA Troop 65 Astoria</h3>
                    <h4 class="card-subtitle mb-2 text-muted">The power to change the world lives in your actions.</p>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                        {% block content %}
        
                        {% endblock %}                
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </body>
</html>