{% extends 'base.html' %}
{% set active_page = "about" %}
{% block content %}
<div class="row">
    <div class="container">
        <h3>About Us</h3>
        <p>Troop 65 is a Scouts BSA troop located in Astoria, New York.</p>
        <p>We meet weekly on Wednesday nights at Variety Boys and Girls Club from 7:00 to 8:30 PM.</p>
        <p>
            Scouts plan and conduct meetings along a monthly theme, and they plan fun outings at least once a month 
            that teach and reinforce the lifelong lessons of Scouting. We camp and hike often, and we volunteer 
            our time to clean and maintain our community. But we don't limit ourselves to camping. Other things we've 
            done recently include attending sports events, visiting an escape room, and more.
        </p>
        <p>
            Take a look at our current <a href="https://docs.google.com/document/d/1IvSc4FZzEvUKzTuK3Mldg_Ye2UHFrMOak_NZVGkLUq8/edit?usp=sharing">Troop Calendar</a> for an idea of what we'll be doing in the upcoming Scout year.
        </p>
        <p>
            To view our upcoming events, click <a href="/events">here</a>.
        </p>
        <p>
            And if you want to receive regular updates and communication from us, consider <a href="https://groups.google.com/forum/#!forum/troop-65-astoria/join">joining our mailing list</a>.
        </p>
        <p>
            Finally, if you're looking for a Troop, come check us out! You can also click the blue "Join the Troop" button above to fill out an application.
        </p>
    </div>
</div>

{% endblock %}